/**
 * @file
 * Caption filter: default styling for displaying image captions.
 */

/**
 * Essentials, based on http://stackoverflow.com/a/13363408.
 */
.yacf {
  display: table;
}
.yacf > * {
  display: block;
  max-width: 100%;
}
.yacf > figcaption {
  display: table-caption;
  caption-side: bottom;
  max-width: none;
}

/**
 * Caption alignment.
 */
 .yacf-left {
  float: left; /* LTR */
  margin-left: 0; /* LTR */
}
[dir="rtl"] .yacf-left {
  float: right;
  margin-left: auto;
  margin-right: 0;
}
.yacf-right {
  float: right; /* LTR */
  margin-right: 0; /* LTR */
}
[dir="rtl"] .yacf-right {
  float: left;
  margin-left: 0;
  margin-right: auto;
}
.yacf-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/**
 * While editing and whenever the caption is empty, show a placeholder.
 *
 * Based on http://codepen.io/flesler/pen/AEIFc.
 */
.yacf > figcaption[contenteditable=true]:empty:before {
  content: attr(data-placeholder);
  font-style: italic;
}
