<!--
Copy this file in the text area of https://www.drupal.org/node/3032527/edit
-->

<a href="https://www.drupal.org/sandbox/davereid/2071295">Based on a Drupal 7 backport of the caption module in Drupal 8.</a>

<h2>Settings</h2>

<h3>Use the title and style attributes to build captions. </h3>

<p>You can add image captions and align images left, right. Examples:</p>
<ul>
  <li>Caption an image: &lt;img src="" title="This is a caption" /&gt;</li>
  <li>Align an image: &lt;img src="" style="float: left;" /&gt;</li>
  <li>Caption & align an image: &lt;img src="" title="Alpaca" style="float: left;" /&gt;</li>
</ul>

<h3>Use the attributes "data-caption" and "data-align" to build captions.</h3>

<p>You can add image captions and align images left, right or centered. Examples:</p>
<ul>
  <li>Caption an image: &lt;img src="" data-caption="This is a caption" /&gt;</li>
  <li>Align an image: &lt;img src="" data-align="center" /&gt;</li>
  <li>Caption & align an image: &lt;img src="" data-caption="Alpaca" data-align="right" /&gt;</li>
</ul>

<h3>Link to the image. </h3>

<p>Link to the original image or an image style.</p>

<h2>Warnings</h2>

Place your content you want to caption (for example an image) not inside a paragraph tag. The YACF filter wraps your content into a HTML figure element. <a href="https://stackoverflow.com/a/5163443/10193818">Permitted parent tags for figure tags are those that allow flow elements (for example div, section, article).</a>